<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>355702927703-dmvvrfvj5jmgk0g3rvogrf0dg1q70bog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355702927703-dmvvrfvj5jmgk0g3rvogrf0dg1q70bog</string>
	<key>API_KEY</key>
	<string>AIzaSyB-jcIP3us3CiS8SUhzrjxrV1LAeW1u4QU</string>
	<key>GCM_SENDER_ID</key>
	<string>355702927703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UvA.DinebyMe-</string>
	<key>PROJECT_ID</key>
	<string>dinebyme-fa61f</string>
	<key>STORAGE_BUCKET</key>
	<string>dinebyme-fa61f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355702927703:ios:88a9174240cc19bd</string>
	<key>DATABASE_URL</key>
	<string>https://dinebyme-fa61f.firebaseio.com</string>
</dict>
</plist>